<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }

    h1 {
        text-align: center;
        font-family: arial, sans-serif;

    }
    tr:nth-child(even).elegible {
      background-color: rgb(219, 219, 95);
    }
    .elegible {
        background-color: yellow;
    }
    tr:nth-child(even).clasificado {
        background-color: rgb(26, 109, 26);
        color: white;
    }
    .clasificado {
        background-color: green;
        color: white;
    }    
    </style>
<h1>{{ titulo }}</h1>
</br>
</br>

{% if resultados %}

    <table>
        <caption>Clasificacion</caption>

        <tr>
            <th>Posicion</th>
            <th>Entrenador ({{ num_entrenadores }})</th>
            <th>Equipo</th>
            <th>Raza</th>
            <th>Partidos Jugados</th>
            <th>Record (V-E-D)</th>
            <th>TD (F/C)</th>
            <th>CAS (F/C)</th>
            <th>Win Rate</th>
            <th>Puntos</th>
        <tr>

        {% for entrenador in entrenadores %}
            <tr class={{ entrenador.clase }}>
                <td>{{ loop.index + (page * 1000)}}</td>
                <td>{{ entrenador.entrenador }}</td>
                <td>{{ entrenador.nombre }}</td>
                <td>{{ get_race(entrenador.raza) }}
                <td>{{ entrenador.victorias + entrenador.empates + entrenador.derrotas }}</td>
                <td>{{ entrenador.victorias }} - {{ entrenador.empates }} - {{ entrenador.derrotas }}</td>
                <td>{{ entrenador.td_favor }}/{{ entrenador.td_contra }}</td>
                <td>{{ entrenador.cas_favor }}/{{ entrenador.cas_contra }}</td>
                <td>{{ '%0.2f' % (100 * ((entrenador.victorias + (entrenador.empates / 2)) / (entrenador.victorias + entrenador.empates + entrenador.derrotas))) }}</td>
                <td>{{ '%0.2f' % entrenador.puntos }}</td>
            </tr>            
        {% endfor %}
    </table>
    </br>
    </br>

    <table>
        <caption>Resultados</caption>

        <tr>
            <th>Entrenador Casa</th>
            <th>TD Casa (CAS)</th>
            <th>TD Fuera (CAS)</th>
            <th>Entrenador Fuera</th>
            <th>Puntos Antes Casa</th>
            <th>Puntos Antes Fuera</th>
            <th>Cambio</th>
        <tr>

        {% for resultado in resultados %}
            <tr>
                <td>{{ resultado.entrenador_casa }}</td>
                <td><b>{{ resultado.td_casa }}</b> ({{ resultado.cas_casa }})</td>
                <td><b>{{ resultado.td_fuera }}</b> ({{ resultado.cas_fuera }})</td>
                <td>{{ resultado.entrenador_fuera }}</td>
                <td>{{ '%0.2f' % resultado.puntos_antes_casa }}</td>
                <td>{{ '%0.2f' % resultado.puntos_antes_fuera }}</td>
                <td>{{ '%0.2f' % resultado.diferencia }}</td>
                
            </tr>            
        {% endfor %}
    </table>

{% else %}
    <p>No hay resultados</p>
{% endif %}
<div>
    <a style="float:right" href="https://github.com/gr4n0t4/bb3NAF">Github repository</a>
</div>