<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    .clasificado {
        color: green;
    }
    h1 {
        text-align: center;
        font-family: arial, sans-serif;

    }
    </style>
<h1>{{ titulo }}</h1>
</br>
</br>

{% if entrenadores %}

    <table>
        <caption>Clasificacion</caption>

        <tr>
            <th>Posicion</th>
            <th>Entrenador ({{ num_entrenadores }})</th>
            <th>Equipo</th>
            <th>Raza</th>
            <th>Partidos Jugados</th>
            <th>Record (V-E-D)</th>
            <th>TD (F/C)</th>
            <th>CAS (F/C)</th>
            <th>Win Rate</th>
            <th>Puntos</th>

        <tr>

        {% for entrenador in entrenadores %}
            <tr>
                <td>{{ loop.index + (page * 1000)}}</td>
                <td>{{ entrenador.entrenador }}</td>
                <td>{{ entrenador.nombre }}</td>
                <td>{{ get_race(entrenador.raza) }}</td>
                <td>{{ entrenador.victorias + entrenador.empates + entrenador.derrotas }}</td>
                <td>{{ entrenador.victorias }} - {{ entrenador.empates }} - {{ entrenador.derrotas }}</td>
                <td>{{ entrenador.td_favor }}/{{ entrenador.td_contra }}</td>
                <td>{{ entrenador.cas_favor }}/{{ entrenador.cas_contra }}</td>
                <td>{{ '%0.2f' % (100 * ((entrenador.victorias + (entrenador.empates / 2)) / (entrenador.victorias + entrenador.empates + entrenador.derrotas))) }}</td>
                <td>{{ '%0.2f' % entrenador.puntos }}</td>
            </tr>            
        {% endfor %}
    </table>
    </br>
    </br>
    {% if resultados %}

    <table>
        <caption>Resultados</caption>

        <tr>
            <th>Entrenador Casa</th>
            <th>TD Casa (CAS)</th>
            <th>TD Fuera (CAS)</th>
            <th>Entrenador Fuera</th>
        <tr>

        {% for resultado in resultados %}
            <tr>
                <td>{{ resultado.entrenador_casa }}</td>
                <td><b>{{ resultado.td_casa }}</b> ({{ resultado.cas_casa }})</td>
                <td><b>{{ resultado.td_fuera }}</b> ({{ resultado.cas_fuera }})</td>
                <td>{{ resultado.entrenador_fuera }}</td>
                
            </tr>            
        {% endfor %}
    </table>
    {% else %}
    {% if page==0 %}
        <<
        <
    {% else %}    
    <a href="/pdm/all/0"><<</a>
    <a href="/pdm/all/{{ page - 1}}"><</a>
    {% endif %}

    {% for i in range(total + 1) %}
        {% if page==i %}
        {{ i }}
        {% else %}
        <a href="/pdm/all/{{ i }}">{{ i }}</a>
        {% endif %}

    {% endfor %}

    {% if page==total %}
        >
        >>
    {% else %}
        <a href="/pdm/all/{{ page + 1}}">></a>

        <a href="/pdm/all/{{ total }}">>></a>
    {% endif %}

    {% endif %}
{% else %}
    <p>No hay resultados</p>
{% endif %}

<div>
    <a style="float:right" href="https://github.com/gr4n0t4/bb3NAF">Github repository</a>
</div>